<div class="card">
  <div class="card-body button-group">
      <button type="button" [routerLink]="['/cars']" class="home-button btn btn-outline-primary btn-lg">Cars</button>
      <button type="button" [routerLink]="['/employees']" class="home-button btn btn-outline-secondary btn-lg">Employees</button>
      <button type="button" [routerLink]="['/rides']" class="home-button btn btn-outline-success btn-lg">Rides</button>
      <button type="button" [routerLink]="['/stats']" class="home-button btn btn-outline-danger btn-lg">Statistics</button>
   </div>
</div>