<div class="container" style="margin-top: 15px">
    <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Information:</strong>You have made changes. Any unsaved changes will be lost!
        </div>
      </div>
    <form #editForm="ngForm" id="addNewForm" (ngSubmit)="editRide()">
        <div class="card mt-5">
          <div class="form-check" style="margin-top: 10px; margin-left: 10px">
            <div>
                <h4>StartDate:</h4> {{ride.startDate}}
              </div>
              <div>
                  <h4>End Date:</h4> {{ride.endDate}}
            </div>
            <h4>Location:</h4>
            <input class="form-control mr-sm-2 mb-3" type="text" name="startLocation"
            placeholder="StartLocation" [(ngModel)]="ride.startLocation" required>
            <input class="form-control mr-sm-2" type="text" name="endLocation"
            placeholder="EndLocation" [(ngModel)]="ride.endLocation" required>
          </div>
          <div class="form-check ml-2 mt-3">
              <h4>Choose car:</h4>
  
              <select class="custom-select mr-3" id="inputGroupSelect02" [(ngModel)]="ride.carId"
                    name="ride.carId" required>
                <option *ngFor="let car of cars" value="{{car.carId}}" required [selected]="car.carId == ride.car.carId">
                    {{car.name}}, seats: {{car.noOfSeats}}, {{car.plates}}
                </option>
              </select>
           </div>
           <div class="form-check ml-2 mt-3">
             <h4>Choose employees for the ride:</h4>
             <div *ngFor="let employee of employees">
               <span title="is driver: {{employee.isDriver}}; id: {{employee.employeeId}}"> 
                  <input type="checkbox" name="employeeCheckbox"
                      data-md-icheck (change)="onEmployeeChange($event, employee)" style="margin-right: 2px"
                      [checked]="isSelectedEmployee(employee)"/>
                  <label>{{employee.name}}</label> 
                </span>
            </div>
          </div>
          <button class="btn btn-success btn-block" type="submit">Go!</button>
        </div>
    </form> 
  </div>